<section class="hero py-4">
      <div class="container  px-10 mx-auto flex items-center justify-between">
         <div class="w-1/2 ml-20" >
             <h3 class="text-3xl ml-2"><em class="ml-2">Are you hungry?</em></h3>
             <h1 class="text-6xl font-bold"><em>Give us a Chance</em></h1>
             <button class="px-6 py-2 rounded-full text-white font-bold mt-4 btn-primary">Order Now</button>
         </div>
         <div class="w-1/2 px-20 py-20">
             <img class="home_img" src="/img/home.png" alt="">
         </div>


      </div>
  </section>

<section class="menu container mx-auto px-16 py-8">

    <h1 class="text-xl font-bold mb-8"><em>Items For You</em></h1>

    <div class="grid grid-cols-4 gap-x-12 gap-y-20">
    <% pizzas.forEach((item,index)=>{ %>
        <div  class="w-56">
            <img  class="h-40 mb-2 mx-auto" src="/img/<%=item.image%>" alt="">
            <div class="text-center">
                <h2 class="mb-4 text-lg"><%=item.name%></h2>
                <span class="size py-1 px-4 rounded-full uppercase text-xs"><%=item.size%></span>
                <span class="size py-1 px-4 rounded-full uppercase text-xs"><%=item.calories%> Calories</span>


                <div class="flex items-center justify-around mt-6">
                    <span class="bold " >₹<%=item.price%></span>
                    <button data-item="<%=JSON.stringify(item)%>" class="add-to-cart  px-6 rounded-full">
                        <span>+</span>
                        <span class="ml-1">add</span>
                    </button>
                </div>
            </div>
        </div>
   <% }) %>    

    </div>
</section>
